body {
	background-color: cadetblue;
}

.container {
	padding-top: 100px;
}

#currentQuestion {
	padding: 20px;
}

.choice {
	border: 2px solid grey;
	padding: 10px;
	margin: 10px;
	border-radius: 5px;
	cursor: pointer;
}

#remainingQuestions {
	margin-top: 20px;
}
